.projects__container {
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  justify-content: center;
}

.projects__card {
  background-color: var(--fcontainer-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 1rem;
}

.projects__img {
  width: 295px;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.projects__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.projects__button {
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

@media (max-width: 992px) {
    .projects__container {
        grid-template-columns: repeat(1, max-content);
        gap: 2rem;
      }
}